---
import './index.scss';

import { Image } from 'astro:assets';

import avatar from '@assets/pages/main/avatar.png';
import avatarBalloon from '@assets/pages/main/avatar-balloon.svg';
---

<div class="employee-birthdays-block">
  <div class="employee-birthdays-block__header">
    <h3>Дни рождения сотрудников</h3>
  </div>

  <div class="employee-birthdays-block-cards">
    <div class="row row-cols-md-3 row-cols-xl-4 row-cols-xxl-5 gy-2">
      <div class="col">
        <a href="#" class="employee-birthdays-block-card">
          <Image src={avatar} width="96" height="96" alt="Аватар" />

          <span class="employee-birthdays-block-card__baloon"
            ><Image
              src={avatarBalloon}
              width="36"
              height="36"
              alt="Воздушный шар"
            /></span
          >

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>11.02</span>
            <span>сегодня</span>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="#" class="employee-birthdays-block-card">
          <Image src={avatar} width="96" height="96" alt="Аватар" />

          <span class="employee-birthdays-block-card__baloon"
            ><Image
              src={avatarBalloon}
              width="36"
              height="36"
              alt="Воздушный шар"
            /></span
          >

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>11.02</span>
            <span>сегодня</span>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="#" class="employee-birthdays-block-card">
          <Image src={avatar} width="96" height="96" alt="Аватар" />

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>12.02</span>
            <span class="employee-birthdays-block-card__not-today-date"
              >завтра</span
            >
          </div>
        </a>
      </div>

      <div class="col">
        <a href="#" class="employee-birthdays-block-card">
          <Image src={avatar} width="96" height="96" alt="Аватар" />

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>13.02</span>
            <span class="employee-birthdays-block-card__not-today-date"
              >в среду</span
            >
          </div>
        </a>
      </div>

      <div class="col">
        <a href="#" class="employee-birthdays-block-card">
          <Image src={avatar} width="96" height="96" alt="Аватар" />

          <p class="employee-birthdays-block-card__name">
            Константин Константинопальский
          </p>

          <div class="employee-birthdays-block-card__bottom">
            <span>13.02</span>
            <span class="employee-birthdays-block-card__not-today-date"
              >в среду</span
            >
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
