---
import './_index.scss';

import Container from '@layouts/Container/index.astro';
import Breadcrumbs from '@components/pages/media/common/Breadcrumbs/index.astro';
import ProgressBar from '@components/pages/applications/common/ProgressBar/index.astro';
import CardField from '@components/pages/applications/common/CardField/index.astro';

import Button from '@components/common/Button/index.astro';

import Textarea from '@components/pages/applications/common/Textarea/index.astro';
import Input from '@components/pages/applications/common/Input/index.astro';
import Select from '@components/pages/applications/common/Select/index.astro';
import Radio from '@components/pages/applications/common/Radio/index.astro';
import Number from '@components/pages/applications/common/Number/index.astro';
import File from '@components/pages/applications/common/File/index.astro';

const breadcrumbs = [
  {
    label: 'Сервисы',
    href: '#',
  },
  {
    label: 'Заявки',
    href: '/applications/main',
  },
  {
    label: 'Административный отдел',
    href: '#',
  },
  {
    label: 'Обучение',
  },
];
---

<body>
  <Container>
    <main>
      <div class="main-page">
        <section class="media-applications-training">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <div class="media-applications-training__breadcrumbs">
                <Breadcrumbs breadcrumbs={breadcrumbs} />
              </div>

              <div class="media-applications-training__content">
                <div class="media-applications-training__content__title">
                  Обучение
                </div>
                <div class="media-applications-training__content__description">
                  Если вам требуется подготовить или закупить кое-либо
                  аналитическое исследование, пожалуйста, заполните форму на
                  данной странице с указанием объекта исследования, необходимых
                  пунктов содержания и сроков получения отчета
                </div>

                <div class="media-applications-training__content__progress">
                  <ProgressBar current={7} total={14} />
                </div>

                <form class="media-applications-training__content__form">
                  <div
                    class="media-applications-training__content__form__fields"
                  >
                    <CardField isRequired={true}>
                      <label slot="title">Тип услуг</label>
                      <span slot="content">
                        <Select placeholder="Тип услуг" />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title"
                        >Позволит получить такие знания как:</label
                      >
                      <span slot="content">
                        <Textarea />
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title"
                        >Будет использоваться сотрудником для:</label
                      >
                      <span slot="content">
                        <Textarea />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Ссылка на провайдера</label>
                      <span slot="content">
                        <Input placeholder="Ссылка" />
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title">Альтернативные провайдеры</label>
                      <span slot="content">
                        <Textarea />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title"
                        >Стоимость в рублях без учета НДС</label
                      >
                      <span slot="content">
                        <Input placeholder="Стоимость в рублях" />
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title">Программа обучения</label>
                      <span slot="content">
                        <File />
                      </span>
                    </CardField>
                  </div>

                  <div
                    class="media-applications-training__content__form__submit"
                  >
                    <Button
                      text="Создать заявку"
                      option="btn-primary"
                      type="submit"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </Container>
</body>
