---
import './_index.scss';

import Container from '@layouts/Container/index.astro';
import Breadcrumbs from '@components/pages/media/common/Breadcrumbs/index.astro';
import ProgressBar from '@components/pages/applications/common/ProgressBar/index.astro';
import CardField from '@components/pages/applications/common/CardField/index.astro';

import Button from '@components/common/Button/index.astro';
import Star from '@components/common/Star/index.astro';
import FieldWithDropdown from '@components/common/FieldWithDropdown/index.astro';

import Textarea from '@components/pages/applications/common/Textarea/index.astro';
import Input from '@components/pages/applications/common/Input/index.astro';
import DateInput from '@components/pages/applications/common/DateInput/index.astro';

const breadcrumbs = [
  {
    label: 'Сервисы',
    href: '#',
  },
  {
    label: 'Заявки',
    href: '/applications/main',
  },
  {
    label: 'Административный отдел',
    href: '#',
  },
  {
    label: 'Заказ пропуска',
  },
];
---

<body>
  <Container isWhiteBgSearch>
    <main>
      <div class="main-page">
        <section class="media-applications-courier-services">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <div
                class="media-applications-courier-services__breadcrumbs-and-star"
              >
                <Breadcrumbs breadcrumbs={breadcrumbs} />

                <div class="media-applications-courier-services__star">
                  <Star />
                </div>
              </div>

              <div class="media-applications-courier-services__content">
                <div
                  class="media-applications-courier-services__content__title"
                >
                  Заказ пропуска
                </div>
                <div
                  class="media-applications-courier-services__content__description"
                >
                  Если вам требуется подготовить или закупить кое-либо
                  аналитическое исследование, пожалуйста, заполните форму на
                  данной странице с указанием объекта исследования, необходимых
                  пунктов содержания и сроков получения отчета
                </div>

                <div
                  class="media-applications-courier-services__content__progress"
                >
                  <ProgressBar current={7} total={14} />
                </div>

                <form
                  class="media-applications-courier-services__content__form"
                >
                  <div
                    class="media-applications-courier-services__content__form__fields"
                  >
                    <CardField isRequired={true}>
                      <label slot="title">Тип доставки</label>
                      <span slot="content">
                        <FieldWithDropdown
                          placeholder="Выберите тип доставки"
                          list={['Тип доставки 1', 'Тип доставки 2']}
                        />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Дата посещения</label>
                      <span slot="content">
                        <DateInput placeholder="02.10.2023" />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Способ исполнения</label>
                      <span slot="content">
                        <FieldWithDropdown
                          placeholder="Выберите способ исполнения"
                          list={['Способ 1', 'Способ 2']}
                        />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Пропуск</label>
                      <span slot="content">
                        <span
                          class="media-applications-courier-services__content__form__fields__row"
                        >
                          <Input placeholder="Модель автомобиля" />
                          <Input placeholder="Гос. номер" />
                        </span>
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title">Примечание</label>
                      <span slot="content">
                        <Textarea />
                      </span>
                    </CardField>
                  </div>

                  <div
                    class="media-applications-courier-services__content__form__submit"
                  >
                    <Button
                      text="Создать заявку"
                      option="btn-primary"
                      type="submit"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>

      <script>
        // Импортируем библиотеку выбора даты и её стили
        import AirDatepicker from 'air-datepicker';
        import 'air-datepicker/air-datepicker.css';

        // После загрузки DOM инициализируем выбор даты
        document.addEventListener('DOMContentLoaded', () => {
          // Создаем новый экземпляр выбора даты с настройками по умолчанию
          new AirDatepicker('#datepicker', {});
        });
      </script>
    </main>
  </Container>
</body>
