---
import './_index.scss';

import Container from '@layouts/Container/index.astro';

import SideMenu from '@components/pages/media/common/SideMenu/index.astro';
import Breadcrumbs from '@components/pages/media/common/Breadcrumbs/index.astro';
import ImageCard from '@components/pages/media/common/ImageCard/index.astro';
import DocumentList from '@components/pages/media/common/DocumentList/index.astro';
import DatepickerDropdown from '@components/pages/media/reviews/DatepickerDropdown/index.astro';
import YearDropdown from '@components/pages/media/reviews/YearDropdown/index.astro';
import Star from '@components/common/Star/index.astro';

const breadcrumbs = [
  {
    label: 'Медиа',
    href: '/media/main',
  },
  {
    label: 'Обзоры СМИ',
    href: '#',
  },
  {
    label: 'Новости российского рынка лизинга',
  },
];

const menu = [
  {
    label: 'Новости российского рынка лизинга',
    active: true,
  },
  {
    label: 'Новости зарубежного рынка лизинга',
    active: false,
  },
  {
    label: 'Новости рынка лизинга стран СНГ',
    active: false,
  },
];

const imageCard = {
  title: 'Новости российского рынка лизинга',
  imageLink: '/src/assets/pages/media/reviews/1.jpg',
};

const documents = [
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
  {
    title: '22.12 - 0.3.11.2023 года',
    size: '140 мб',
    format: 'PDF',
    date: '21.11.2022',
  },
];
---

<body>
  <Container>
    <main>
      <div class="main-page">
        <section class="media-reviews">
          <div class="row justify-content-between">
            <div class="col-md-3">
              <SideMenu items={menu} />
            </div>

            <div class="col-md-9">
              <div class="media-reviews__content">
                <div class="media-reviews__breadcrumbs-and-star">
                  <Breadcrumbs breadcrumbs={breadcrumbs} />
                  <Star />
                </div>

                <div class="media-reviews__content__image-card">
                  <ImageCard
                    title={imageCard.title}
                    imageLink={imageCard.imageLink}
                  />
                </div>
                <div class="media-reviews__content__filter">
                  <YearDropdown />
                  <DatepickerDropdown />
                </div>
                <div class="media-reviews__content__documents">
                  <DocumentList documents={documents} />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <script>
        import AirDatepicker from 'air-datepicker';
        import 'air-datepicker/air-datepicker.css';

        document.addEventListener('DOMContentLoaded', () => {
          new AirDatepicker('#datepicker', {
            range: true,
            multipleDates: true,
            multipleDatesSeparator: ' - ',
          });
        });
      </script>
    </main>
  </Container>
</body>
