---
import './_index.scss';

import Container from '@layouts/Container/index.astro';
import Breadcrumbs from '@components/pages/media/common/Breadcrumbs/index.astro';
import ProgressBar from '@components/pages/applications/common/ProgressBar/index.astro';
import CardField from '@components/pages/applications/common/CardField/index.astro';

import Button from '@components/common/Button/index.astro';
import Star from '@components/common/Star/index.astro';
import FieldWithDropdown from '@components/common/FieldWithDropdown/index.astro';

import Textarea from '@components/pages/applications/common/Textarea/index.astro';
import Input from '@components/pages/applications/common/Input/index.astro';

const breadcrumbs = [
  {
    label: 'Сервисы',
    href: '#',
  },
  {
    label: 'Заявки',
    href: '/applications/main',
  },
  {
    label: 'Административный отдел',
    href: '#',
  },
  {
    label: 'Отсутствие, встреча, мероприятие',
  },
];
---

<body>
  <Container isWhiteBgSearch>
    <main>
      <div class="main-page">
        <section class="media-applications-events">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <div class="media-applications-events__breadcrumbs-and-star">
                <Breadcrumbs breadcrumbs={breadcrumbs} />

                <div class="media-applications-events__star">
                  <Star />
                </div>
              </div>

              <div class="media-applications-events__content">
                <div class="media-applications-events__content__title">
                  Отсутствие, встреча, мероприятие
                </div>
                <div class="media-applications-events__content__description">
                  Если вам требуется подготовить или закупить кое-либо
                  аналитическое исследование, пожалуйста, заполните форму на
                  данной странице с указанием объекта исследования, необходимых
                  пунктов содержания и сроков получения отчета
                </div>

                <div class="media-applications-events__content__progress">
                  <ProgressBar current={7} total={14} />
                </div>

                <form class="media-applications-events__content__form">
                  <div class="media-applications-events__content__form__fields">
                    <CardField isRequired={true}>
                      <label slot="title">Согласован</label>
                      <span slot="content">
                        <FieldWithDropdown
                          placeholder="Выберите согласован"
                          list={['Согласован 1', 'Согласован 2']}
                        />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">с</label>
                      <div slot="content">
                        <div
                          class="media-applications-events__content__form__fields__row"
                        >
                          <Input placeholder="02.02.2024 18:00" />
                          <Button text="С начала дня" option="btn-primary" />
                        </div>
                      </div>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">По</label>
                      <div slot="content">
                        <div
                          class="media-applications-events__content__form__fields__row"
                        >
                          <Input placeholder="02.02.2024 18:00" />
                          <Button text="По конец дня" option="btn-primary" />
                        </div>
                      </div>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Причина отсутствия</label>
                      <span slot="content">
                        <FieldWithDropdown
                          placeholder="Выберите причину отсутствия"
                          list={['Причина 1', 'Причина 2']}
                        />
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title">Комментарий</label>
                      <span slot="content">
                        <Textarea />
                      </span>
                    </CardField>
                  </div>

                  <div class="media-applications-events__content__form__submit">
                    <Button
                      text="Создать заявку"
                      option="btn-primary"
                      type="submit"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </Container>
</body>
