---
import './_index.scss';

import Container from '@layouts/Container/index.astro';
import SideMenu from '@components/pages/media/common/SideMenu/index.astro';
import Breadcrumbs from '@components/pages/media/common/Breadcrumbs/index.astro';
import ApplicationCard from '@components/pages/applications/main/ApplicationCard/index.astro';
import Star from '@components/common/Star/index.astro';

const breadcrumbs = [
  {
    label: 'Сервисы',
    href: '#',
  },
  {
    label: 'Заявки',
  },
];

const menu = [
  {
    label: 'Популярное',
    active: true,
  },
  {
    label: 'Административный отдел',
    active: false,
  },
  {
    label: 'Персонал',
    active: false,
  },
  {
    label: 'IT',
    active: false,
  },
  {
    label: 'Маркетинг',
    active: false,
  },
  {
    label: 'Аналитика',
    active: false,
  },
];

const cards = [
  {
    link: '#',
    description:
      'Если вам требуется подготовить или закупить кое-либо аналитическое исследование, отчета',
    title: 'Курьерские услуги',
  },
  {
    link: '#',
    description:
      'Если вам требуется подготовить или закупить кое-либо аналитическое исследование, отчета',
    title: 'Заявки в IT',
  },
  {
    link: '#',
    description:
      'Если вам требуется подготовить или закупить кое-либо аналитическое исследование, отчета',
    title: 'Запрос справки',
  },
  {
    link: '#',
    description:
      'Если вам требуется подготовить или закупить кое-либо аналитическое исследование, отчета',
    title: 'Заказ пропуска',
  },
  {
    link: '#',
    description:
      'Если вам требуется подготовить или закупить кое-либо аналитическое исследование, отчета',
    title: 'Визитки',
  },
  {
    link: '#',
    description:
      'Если вам требуется подготовить или закупить кое-либо аналитическое исследование, отчета',
    title: 'Канцтовары',
  },
];
---

<body>
  <Container isWhiteBgSearch>
    <main>
      <div class="main-page">
        <section class="media-applications">
          <div class="row justify-content-between">
            <div class="col-md-3">
              <SideMenu items={menu} />
            </div>

            <div class="col-md-9">
              <div class="media-applications__header">
                <Breadcrumbs breadcrumbs={breadcrumbs} />
                <Star />
              </div>

              <div class="media-applications__list">
                {
                  cards.map((card) => (
                    <ApplicationCard
                      title={card.title}
                      description={card.description}
                      link={card.link}
                    />
                  ))
                }
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </Container>
</body>
