---
import './_index.scss';

import Container from '@layouts/Container/index.astro';
import SideMenu from '@components/pages/media/common/SideMenu/index.astro';
import Breadcrumbs from '@components/pages/media/common/Breadcrumbs/index.astro';
import ProgressBar from '@components/pages/applications/common/ProgressBar/index.astro';
import CardField from '@components/pages/applications/common/CardField/index.astro';

import Button from '@components/common/Button/index.astro';

import Textarea from '@components/pages/applications/common/Textarea/index.astro';
import Input from '@components/pages/applications/common/Input/index.astro';
import Select from '@components/pages/applications/common/Select/index.astro';

const breadcrumbs = [
  {
    label: 'Сервисы',
    href: '#',
  },
  {
    label: 'Заявки',
    href: '/applications/main',
  },
  {
    label: 'Маркетинг',
    href: '#',
  },
  {
    label: 'Визитки',
  },
];

const menu = [
  {
    label: 'Популярное',
    active: false,
  },
  {
    label: 'Административный отдел',
    active: false,
  },
  {
    label: 'Персонал',
    active: false,
  },
  {
    label: 'IT',
    active: false,
  },
  {
    label: 'Маркетинг',
    active: true,
  },
  {
    label: 'Аналитика',
    active: false,
  },
];
---

<body>
  <Container>
    <main>
      <div class="main-page">
        <section class="media-applications-business-cards">
          <div class="row">
            <div class="col-md-3">
              <SideMenu items={menu} />
            </div>

            <div class="col-md-7 offset-1">
              <div class="media-applications-business-cards__breadcrumbs">
                <Breadcrumbs breadcrumbs={breadcrumbs} />
              </div>

              <div class="media-applications-business-cards__content">
                <div class="media-applications-business-cards__content__title">
                  Визитки
                </div>
                <div class="media-applications-business-cards__content__description">
                  Если вам требуется подготовить или закупить кое-либо
                  аналитическое исследование, пожалуйста, заполните форму на
                  данной странице с указанием объекта исследования, необходимых
                  пунктов содержания и сроков получения отчета
                </div>

                <div class="media-applications-business-cards__content__progress">
                  <ProgressBar current={7} total={14}/>
                </div>

                <form class="media-applications-business-cards__content__form">
                  <div class="media-applications-business-cards__content__form__fields">
                    <CardField isRequired={true}>
                      <label slot="title">Фамилия Имя Отчество</label>
                      <span slot="content">
                        <Select placeholder="Введите ФИО" />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Должность</label>
                      <span slot="content">
                        <Input placeholder="HR рекрутер" />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Структурное подразделение</label>
                      <span slot="content">
                        <Input placeholder="example" />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Юр. лицо</label>
                      <span slot="content">
                        <Input placeholder="АР Газпром Лизинг" />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">Телефон</label>
                      <span slot="content">
                        <Input placeholder="+7(999)999 99-12" />
                      </span>
                    </CardField>

                    <CardField isRequired={true}>
                      <label slot="title">E-mail</label>
                      <span slot="content">
                        <Input placeholder="Ivano@mail.com" />
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title">Дата сдачи</label>
                      <span slot="content">
                        <Input placeholder="21.08.2024" disabled={true} />
                      </span>
                    </CardField>

                    <CardField>
                      <label slot="title">Комментарий</label>
                      <span slot="content">
                        <Textarea />
                      </span>
                    </CardField>
                  </div>

                  <div class="media-applications-business-cards__content__form__submit">
                    <Button text="Создать заявку" option="btn-primary" type="submit"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </Container>
</body>
