---
import { Image } from 'astro:assets';
import './_index.scss';

import Arrow from '@assets/arrow.svg';

import Container from '@layouts/Container/index.astro';
import Breadcrumbs from '@components/pages/media/common/Breadcrumbs/index.astro';
import Search from '@components/pages/media/calendar/Search/index.astro';
import EventCard from '@components/pages/media/common/EventCard/index.astro';
import DatepickerDropdown from '@components/pages/media/calendar/DatepickerDropdown/index.astro';

const breadcrumbs = [
  {
    label: 'Медиа',
    href: '#',
  },
  {
    label: 'Календарь деловых мероприятий',
  },
];

const currentEvents = [
  {
    link: '#',
    imageLink: '/src/assets/pages/media/calendar/event-1.png',
    period: 'с 05.12 по 06.12',
    title: 'Круглый стол по актуальным вопросам',
    categories: [
      {
        link: '#',
        title: 'Программа',
      },
      {
        link: '#',
        title: 'Сайт мероприятия',
      },
    ],
  },
  {
    link: '#',
    imageLink: '/src/assets/pages/media/calendar/event-2.png',
    period: 'с 05.12 по 06.12',
    title: 'Круглый стол по актуальным вопросам',
    categories: [
      {
        link: '#',
        title: 'Программа',
      },
      {
        link: '#',
        title: 'Сайт мероприятия',
      },
    ],
  },
  {
    link: '#',
    imageLink: '/src/assets/pages/media/calendar/event-3.png',
    period: 'с 05.12 по 06.12',
    title: 'Круглый стол по актуальным вопросам',
    categories: [
      {
        link: '#',
        title: 'Программа',
      },
      {
        link: '#',
        title: 'Сайт мероприятия',
      },
    ],
  },
  {
    link: '#',
    imageLink: '/src/assets/pages/media/calendar/event-4.png',
    period: 'с 05.12 по 06.12',
    title: 'Круглый стол по актуальным вопросам',
    categories: [
      {
        link: '#',
        title: 'Программа',
      },
      {
        link: '#',
        title: 'Сайт мероприятия',
      },
    ],
  },
  {
    link: '#',
    imageLink: '/src/assets/pages/media/calendar/event-1.png',
    period: 'с 05.12 по 06.12',
    title: 'Круглый стол по актуальным вопросам',
    categories: [
      {
        link: '#',
        title: 'Программа',
      },
      {
        link: '#',
        title: 'Сайт мероприятия',
      },
    ],
  },
  {
    link: '#',
    imageLink: '/src/assets/pages/media/calendar/event-2.png',
    period: 'с 05.12 по 06.12',
    title: 'Круглый стол по актуальным вопросам',
    categories: [
      {
        link: '#',
        title: 'Программа',
      },
      {
        link: '#',
        title: 'Сайт мероприятия',
      },
    ],
  },
  {
    link: '#',
    imageLink: '/src/assets/pages/media/calendar/event-3.png',
    period: 'с 05.12 по 06.12',
    title: 'Круглый стол по актуальным вопросам',
    categories: [
      {
        link: '#',
        title: 'Программа',
      },
      {
        link: '#',
        title: 'Сайт мероприятия',
      },
    ],
  },
  {
    link: '#',
    imageLink: '/src/assets/pages/media/calendar/event-4.png',
    period: 'с 05.12 по 06.12',
    title: 'Круглый стол по актуальным вопросам',
    categories: [
      {
        link: '#',
        title: 'Программа',
      },
      {
        link: '#',
        title: 'Сайт мероприятия',
      },
    ],
  },
];
---

<body>
  <Container>
    <main>
      <div class="main-page">
        <section class="media-calendar-breadcrumbs">
          <div class="row g-0">
            <div class="col-12">
              <Breadcrumbs breadcrumbs={breadcrumbs} />
            </div>
          </div>
        </section>

        <section class="media-calendar-header">
          <div class="row g-0">
            <div class="col-12">
              <h2>Календарь мероприятий</h2>
            </div>
          </div>
        </section>

        <section class="media-calendar-search">
          <div class="row g-0">
            <div class="col-12">
              <div class="media-calendar-search__content">
                <div class="media-calendar-search__content__input">
                  <Search placeholder="Поиск..." bgColor="#ffffff" />
                </div>
                <DatepickerDropdown />
              </div>
            </div>
          </div>
        </section>

        <section class="media-calendar-events">
          <div class="media-calendar-events__current">
            <div class="row g-0">
              <div class="col-12">
                <h3>Актуальные мероприятия</h3>
              </div>
            </div>
            <div class="row g-0">
              <div class="col-12">
                <div class="media-calendar-events__current__list">
                  {
                    currentEvents.map((item) => (
                      <EventCard
                        imageLink={item.imageLink}
                        title={item.title}
                        link={item.link}
                        period={item.period}
                        categories={item.categories}
                      />
                    ))
                  }
                </div>
              </div>
            </div>
          </div>

          <div class="media-calendar-events__previous">
            <div class="row g-0">
              <div class="col-12">
                <h3>Прошедшие мероприятия</h3>
              </div>
            </div>
            <div class="row g-0">
              <div class="col-12">
                <div class="media-calendar-events__previous__list">
                  {
                    currentEvents.map((item) => (
                      <EventCard
                        imageLink={item.imageLink}
                        title={item.title}
                        link={item.link}
                        period={item.period}
                        categories={item.categories}
                      />
                    ))
                  }
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <script>
        import AirDatepicker from 'air-datepicker';
        import 'air-datepicker/air-datepicker.css';

        document.addEventListener('DOMContentLoaded', () => {
          new AirDatepicker('#datepicker', {
            range: true,
            multipleDates: true,
            multipleDatesSeparator: ' - '
          });
        });
      </script>
    </main>
  </Container>
</body>
